.Player{

    background-image: url("../img/player_pumpgun_stand.png");
    height:80px;
    width:80px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}


.Zombie{

    background-image: url("../img/zombie70x12.png");
    height:75px;
    width:75px;
    background-repeat:no-repeat;

    animation: play .5s steps(2) infinite;
    -webkit-animation: play .5s steps(6) infinite;
}

@keyframes play {
    from {background-position: 0px;}
    to {background-position: -420px;}
}


.Projectile{
    background-color:orange;
    height: 5px;
    width: 5px;
    z-index:-1;
    border-radius:2px;
    box-shadow: 
        0 0 10px 4px #ffeb3b,  
        0 0 20px 10px #ff9800,
        0 0 30px 20px #ff5722;

    animation: pulse .02s steps(6) infinite;
}

@keyframes pulse {
    0% { transform: scale(1.3); opacity: 1; }
    25% { transform: scale(1.0); opacity: 0.8; }
    50% { transform: scale(0.7); opacity: 0.7; }
    75% { transform: scale(0.5); opacity: 0.6; }

    100% { transform: scale(0.3); opacity: 0.5; }
}

body{
    height:80vh;
    width:80vw;
    background-image:url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    overflow: hidden;
}
h1{
    color:white;
    z-index:999;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;    /* IE 10 and IE 11 */
    user-select: none;        /* Standard syntax */
}
